.bg1{
    background: linear-gradient(to left, rgb(1,1,1,.8), rgb(1,1,1,.1)), url('https://images.pexels.com/photos/5726793/pexels-photo-5726793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: 100% auto;
    min-height: 250px;
}


body {
    background-color:#f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }